@import '../../../scss/zindex';
@import '../../../scss/var';

.catalog {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z('catalog');
  overflow: hidden;
  background: $page;
}
