@import '../../../../scss/var';
@import '../../../../scss/fonts';

.abouts {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 35px 15px 60px;
}
@media (max-width: 575.98px){
  .abouts {
    height: 100%;
  padding: 35px 15px 60px;
   }
}
.abouts__content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 272px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
@media (max-width: 575.98px){
  .abouts__content {
     height: auto;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }
}
.abouts__item {
  position: relative;
  width: 30%;
  max-height: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 575.98px){
  .abouts__item {
     width: 100%;
     margin: 5px 0;
   }
}
.abouts__item_fon {
  position: relative;
  top: 0;
  left: 0;
  max-width: 373px;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  overflow: hidden;
}
@media (max-width: 575.98px){
  .abouts__item_fon {
     width: 100%;
   }
}
