@import '../../../../scss/var';
@import '../../../../scss/fonts';
@import '../../../../scss/zindex';
@import '../../../../scss/relative';

.abouts {
  @include relative;
  height: auto;
  text-align: center;
  padding: 35px 15px 60px;
}

@media (max-width: 991.98px) {
  .abouts {
    height: 100%;
    padding: 35px 15px 60px;
  }
}

.abouts__content {
  @include relative;
  height: 272px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
@media (max-width: 991.98px){
  .abouts__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}


.content__item {
  @include relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 272px;
}

@media (max-width: 991.98px){
  .content__item {
    width: 95%;
    max-height: 372px;
  }
}

.itemFon3,
.itemFon2,
.itemFon1 {
  @include relative;
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 5px 0 
}

.itemNomber3,
.itemNomber2,
.itemNomber1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 215px;
  max-height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: z('namber');
}

.content__descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px 5px;
}
@media (max-width: 991.98px){
  .content__descr {
    padding: 0 15px 25px;
  }
}
.content__item_title {
  text-align: left;
  padding-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 14 * (100vw / 1920));
  line-height: calc(11px + 2.135417vh);
  color: $white;
  z-index: z('title');
}

.content__item_text {
  font-style: normal;
  font-weight: 300;
  text-align: left;
  padding-top: 5px;
  font-size: calc(10px + 10 * (100vw / 1920));
  line-height: calc(11px + 1.635417vh);
  color: $white;
  z-index: z('text');
}
