@font-face {
  font-family: Gilroy-ExtraBold;
  font-style: normal;
  font-weight: 800;
  src:
    url("../assets/Gilroy-ExtraBold\ 800.ttf") format("ttf");
};

@font-face {
  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: 300;
  src:
    url("../assets/Gilroy-Light\ 300.ttf") format("ttf");
}

;
